@{
    Layout="Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Client List</h2>


    <!-- <form class="client_form" action="/client/new" method="post">
        <input type="text" name="client_input" placeholder="Add Client" required>
        <select name="choose-stylist">
            <option value="">Select Stylist</option>
            @foreach(var stylist in Model["Stylists"])
            {
                <option value="@stylist.GetId()">@stylist.GetName()</option>
            }
        </select>
        <button type="submit" name="button">Add</button>
    </form> -->

    <!-- <div class="delete_field">
        <form  action="/client/@Model["Client"].GetId()/delete" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" name="button">Delete Client</button>
        </form>
    </div> -->
    <h4><a href="/">Return Home</h4>

</div>
