@{
    Layout="Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Pet List for Barks</h2>
    @foreach(var client in Model)
    {
        <h5>@client.GetName()</h5>
    }

    <h4><a href="/">Return Home</h4>
    <form class="" action="/delete-all-client" method="post">
        <button type="submit" name="button">Delete All</button>
    </form>

</div>
