<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/Content/css/styles.css" media="screen" title="no title">
        <script src="/Content/js/jquery-3.1.1.js" charset="utf-8"></script>
        <script src="/Content/js/scripts.js" charset="utf-8"></script>
        <title>Barks</title>
    </head>
    <body>
        <div class="container">
            <div class="heading">
                <h1>Barks</h1>
                <h4>Mobile Dog Grooming</h4>
            </div>
            <div class="forms">
                <div class="add-form">
                    <form class="stylist_form" action="/stylist-add" method="post">
                        <input type="text" name="stylist_input" placeholder="Add Stylist" required>
                        <button type="submit" name="button">Add</button>
                    </form>
    
                </div>
                <h2>Stylists</h2>
                @if(Model["Stylists"].Count == 0)
                {
                    <h5>There are no stylists listed</h5>
                }
                else
                {
                    @foreach(var stylist in Model["Stylists"])
                    {
                        <a href="/stylists/@stylist.GetId()">
                        <h5>@stylist.GetName()</h5></a>
                    }
                }
            </div>
                <h2>Clients</h2>
                @if(Model["Clients"].Count == 0)
                {
                    <h5>There are no clients listed</h5>
                }
                else
                {
                    @foreach(var client in Model["Clients"])
                    {
                        <a href="/clients/@client.GetId()">
                        <h5>@client.GetName()</h5></a>
                    }
                }
            </div>
        </div>
    </body>
</html>
