@{
    Layout="Shared/_Layout.cshtml";
}
<h4><a href="/">Return Home</h4></a>
<h3>Client List</h3>
@foreach(var client in Model["clients"])
{
    <li>@client.GetName()</li>
}
<h4>Add Client</h4>
<form action="/stylist/@Model["stylist"].GetId()/clients" method="post">
    <input type="text" name="client_input" placeholder="Clients Name">
    <button type="submit" name="button">Add</button>
</form>
